@{
    ViewData["Title"] = "Productos";
}

<body>
    <!-- Modal data-backdrop="static" data-keyboard="false"-->
    <div class="modal fade" id="ModalProductos" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Agregar Productos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="files" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="hidden" name="productoID" id="productoID" value="0" />
                        <div>
                            <label class="control-label">Nombre</label>
                            <input type="text" class="form-control" style="text-transform: uppercase;" id="Nombre"
                                name="Nombre" />
                            <span class="text-danger" id="texto-error"></span>
                        </div>

                        <div>
                            <label class="control-label">Descripcion</label>
                            <input type="text" class="form-control" style="text-transform: uppercase;" id="Descripcion"
                                name="Descripcion" />
                            <span class="text-danger" id="texto-error"></span>
                        </div>

                        <div>
                            <label class="control-label">Precio</label>
                            <input type="text" class="form-control" style="text-transform: uppercase;" id="Precio"
                                name="Precio" />
                            <span class="text-danger" id="texto-error"></span>
                        </div>

                        <div>
                            <label class="control-label">Cantidad</label>
                            <input type="text" class="form-control" style="text-transform: uppercase;" id="Cantidad"
                                name="Cantidad" />
                            <span class="text-danger" id="texto-error"></span>
                        </div>

                        <div>
                            <label class="control-label">Imagen</label>
                            <input type='file' class="form-control" name="Imagen" id='Imagen'>
                        </div>

                        <div>
                            <label class="control-label">Disponibilidad</label>
                            <input type="text" class="form-control" style="text-transform: uppercase;" id="Cantidad"
                                name="Cantidad" />
                            <span class="text-danger" id="texto-error"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" onclick="GuardarProductos()" class="btn btn-primary">Guardar
                            Producto</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <h1 class="display-4">Productos</h1>
        <!-- Button trigger modal -->
        <div class="mb-2">
            <button type="button" onclick="VaciarFormulario()" class="btn btn-primary" data-toggle="modal"
                data-target="#ModalProductos">
                Agregar
            </button>
        </div>
        <!-- Button trigger modal -->
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Imagen</th>
                    <th>Disponibilidad</th>
                </tr>
            </thead>
            <tbody id="tbody-Productos">
            </tbody>
        </table>
    </div>
</body>

@section Scripts {
    <script src="~/js/agregarProducto.js"></script>
}