@{
    ViewData["Title"] = "Pagina inicio";
}

<div>
    <p class="Letrainicio">¡Bienvenidos!</p>
    <br>
    <p class="Letrainicio01">¡Registrate para acceder a nuestro catalogo y ofertas!</p>
</div>
